*{
    margin: 0;
    padding: 0;
    font-family: "arial";
}

.header{
    background-color: rgb(255, 255, 255);
    color: rgb(41, 38, 37);
    padding: 0.5em 3em;
    display: flex;
    justify-content: space-between;
}

.logo{
    width: 30%;
    align-self: auto;
}


.navbar ul{
    display: flex;
    list-style-type: none;
}

.navbar ul li{
    display: flex;
    list-style-type: none;
    padding: 1em; 
}

.banner-top{
    padding: 1.5em;
    display: flex;
    justify-content: center;
}

#contenedor{
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
}

#contenedor img{
    width: 100%;
}

.primero{
    background-color: rgb(207, 0, 15);
    width: 30%;
    padding: 1%;
    box-sizing: border-box;
}

.segundo{
    background-color: rgb(35, 167, 240);
    width: 30%;
    padding: 1%;
    box-sizing: border-box;
}

.tercero{
    background-color: rgb(38, 166, 91);
    width: 30%;
    padding: 1%;
    box-sizing: border-box;
}

.footer{
    margin-top: 4em;
    border-top: 5px solid white;
    padding: 2em 3em;
    background: rgb(82, 15, 15);
    color: white;
    display: flex;
    justify-content: space-between;
}

.data{
    background: rgb(255, 255, 255);
    padding: 2em;
    color: black;
    border-radius: 15px;
}

.map{
    width: 60%;
}

@media screen and (min-width: 990px) and (max-width: 1200px){
    body{
        background: tomato;
    }
}

@media screen and (min-width: 660px) and (max-width: 989px){
    body{
        background: yellow;
    }

    .header{
        flex-wrap: wrap;
    }

    .logo{
        width: 100%;
        text-align: center;
    }
    
    .navbar ul li{
        text-align: center;
    }

    .banner-top{
        display: none;
    }

    .primero{
        width: 100%;
    }

    .primero figure{
        height: 300px;
        overflow: hidden;
    }

    .segundo, .tercero{
        width: 50%;
        padding: 2em;
    }

    #contenedor article h2{
        font-size: 2.2em;
        margin: 1em;
    }
    
    #contenedor article p{
        font-size: 1.5em;
        margin: 0.5em;
    }

}

@media screen and (min-width: 1px) and (max-width: 659px){
    body{
        background: rgb(107, 129, 89);
    }
    header{
        flex-wrap: wrap;
    }
    .banner-top{
        display: none;
    }
    .navbar ul li{
        text-align: center;
    }
    .primero, .segundo, .tercero{
        width: 100%;
    }
    .navbar ul{
        flex-direction: column;
    }
}
